/algoritimo/algoritimo/target/
.vscode/launch.json
algoritimo/2/.classpath
algoritimo/2/.project
algoritimo/2/.settings/org.eclipse.jdt.apt.core.prefs
algoritimo/2/.settings/org.eclipse.jdt.core.prefs
algoritimo/2/.settings/org.eclipse.m2e.core.prefs
algoritimo/2/target/classes/2/App.class
algoritimo/2/target/test-classes/2/AppTest.class
.vscode/launch.json
.vscode/launch.json
aulgoritimos2/.vscode/launch.json
